
@model EmployeeDetailsDto

@{
    ViewData["Title"] = "Delete Employee";
    ViewBag.Action = "Delete";
}

<h1>Employee Details</h1>

<br />
<br />

<partial name="Partials/_DetailsDeleteEmployeePartial" />