@model EmployeeDetailsDto

@{
    ViewData["Title"] = "Employee Details";
    ViewBag.Action = "Details";
}

<h1>Employee Details</h1>

<br />
<br />


<partial name="Partials/_DetailsDeleteEmployeePartial" />