@model  DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<h1>Edit</h1>
<partial name="Partials/_CreateEditDepartmentPartial" />

@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial" />
}
